@model FirstCoreApp.Models.Products

@*@ViewData["dataSaved"]*@
<br />
<input type="text" id="txtProductName" placeholder="Enter Product Name" value="@Model.ProductName" />
<br />
<input type="number" id="txtProductPrice" placeholder="Enter Product Price" value="@Model.Price" />
<br />
<input type="text" id="txtProductDesc" placeholder="Enter Product Description" value="@Model.Description" />
<br />
<button id="btnUpdate" onclick="updateButtonClicked()">Update</button>
<br />
<button id="btnBack">Back</button>

<input type="text" id="txtProductSN" hidden value="@Model.SN" />